*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}


body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}

.container {
  /* 桌機 */
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;


  /* 平板 */
  @media (max-width: 768px) {
    max-width: 720px;
  }

  /* 手機 */
  @media (max-width: 375px) {
    max-width: 372px;
  }
}